<!--<div class="panel panel-info" style="padding: 5px;">
    <h3><span id="{%$section['title']%}" class="label" style="background-color:#ee2a7c;">{%$section['title']%}</span></h3>
    <br/>
    <div class="row">
    	{%foreach $section.data as $item%}
		<div class="col-lg-4 col-md-6 mb-4">
		    <div class="pro-box">
		        <div class="img-box">
		        	{%if $item.flg_notify == 1 %}
		            	<div class="green-box"><i class="fa fa-gift"></i><span> {%$item.msg_notify%}</span></div>
		            {%/if%}
		            <div class="add-btn-box">
		            	<a href="#"><i class="fa fa-shopping-cart"></i>Đặt Mua</a>
		            </div>
		            <a href="{%$smarty.const.SYSTEM_BASE_URL%}{%$refix_link_detail%}/{%$item['m_product_id']%}/{%$item['product_link']%}">
		            	<img style="width: 320px;height: 350px;" src="{%$smarty.const.SYSTEM_BASE_URL%}{%$item['image_path']%}" alt="" title="" draggable="false"/>
		            </a>
		        </div>
		        <div class="pro-desc">
		            <div class="pro-name"><a href="{%$smarty.const.SYSTEM_BASE_URL%}{%$refix_link_detail%}/{%$item['m_product_id']%}/{%$item['product_link']%}">{%$item['product_name']%}</a></div>
		            <div class="clearfix">
		                <div class="price">
		                {%if $item.product_price_sale != '' %}
		                    <span class="old-price">{%$item.product_price|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</span>
		                    {%$item.product_price_sale|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}
		                {%else%}
		                	{%$item.product_price|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}
		                {%/if%}
		                </div>
		                <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
		            </div>
		        </div> 
		    </div>
		</div>
		{%/foreach%}
	</div>
</div>-->

<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2 class="primary-color">{%$section['title']%}</h2>
        <div class="row">
        	
        	{%foreach $section.data as $item%}
        	
        		<!--Tile-->
	            <div class="col-lg-3 col-md-4 col-sm-6">
	                <div class="tile">
	                    <div class="badges">
	                        <span class="out"></span>
	                    </div>
	                    
	                    {%if $item.product_price_sale != '' %}
	                    	<div class="price-label">{%$item.product_price_sale|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</div>
	                    	<div class="price-label old-price">{%$item.product_price|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</div>
		                {%else%}
		                	<div class="price-label">{%$item.product_price|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</div>
		                	
		                {%/if%}
	                    
	                    <a href="{%$smarty.const.SYSTEM_BASE_URL%}{%$refix_link_detail%}/{%$item['m_product_id']%}/{%$item['product_link']%}"><img src="{%$smarty.const.SYSTEM_BASE_URL%}{%$item['image_path']%}" alt="abc"/></a>
	                    <div class="footer">
	                        <a href="{%$smarty.const.SYSTEM_BASE_URL%}{%$refix_link_detail%}/{%$item['m_product_id']%}/{%$item['product_link']%}">{%$item['product_name']%}</a>
	                        <span>by Admin</span>
	                        <div class="tools">
	                            <div class="rate">
	                                <span class="active"></span>
	                                <span class="active"></span>
	                                <span class="active"></span>
	                                <span></span>
	                                <span></span>
	                            </div>
	                            <!--Add To Cart Button-->
	                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
	                            <!--Share Button-->
	                            <div class="share-btn">
	                                <div class="hover-state">
	                                    <a class="fa fa-facebook-square" href="#"></a>
	                                    <a class="fa fa-twitter-square" href="#"></a>
	                                    <a class="fa fa-google-plus-square" href="#"></a>
	                                </div>
	                                <i class="fa fa-share"></i>
	                            </div>
	                            <!--Add To Wishlist Button-->
	                            <a class="wishlist-btn" href="#">
	                                <div class="hover-state">Wishlist</div>
	                                <i class="fa fa-plus"></i>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
        	
        	{%/foreach%}
        
        </div>
    </div>
</section>
<!--Catalog Grid Close-->