{%include 'app/views/mistore-layout/widget/cart/cart_widget.html'%}

<footer id="footer" class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="footer__top__item col-md-3 col-xs-6">
                    <div class="footer__top__item__left pull-left">
                        <img class="img-responsive" src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/img5.png">
                    </div>
                    <div class="footer__top__item__right pull-right">
                        <a href="http://mistore.com.vn/">giao hàng tận nơi</a>
                        <span>Giao hàng nội thành trong ngày</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer__top__item col-md-3 col-xs-6">
                    <div class="footer__top__item__left pull-left">
                        <img class="img-responsive" src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/img6.png">
                    </div>
                    <div class="footer__top__item__right pull-right">
                        <a href="http://mistore.com.vn/">Bao test 7 ngày</a>
                        <span>Lỗi đổi sản phẩm mới</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer__top__item col-md-3 col-xs-6">
                    <div class="footer__top__item__left pull-left">
                        <img class="img-responsive" src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/img7.png">
                    </div>
                    <div class="footer__top__item__right pull-right">
                        <a href="http://mistore.com.vn/">hồ sơ mua trả góp</a>
                        <span>Duyệt hồ sơ không cần thế chấp</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer__top__item col-md-3 col-xs-6">
                    <div class="footer__top__item__left pull-left">
                        <img class="img-responsive" src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/img8.png">
                    </div>
                    <div class="footer__top__item__right pull-right">
                        <a href="http://mistore.com.vn/">Nhận hàng trả tiền</a>
                        <span>Tiền mặt, chuyển khoản</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__middle">
        <div class="container">
            <div class="row">
                <div class="footer__middle__left col-md-9">
                    <div class="row">
                        <div class="footer__middle__left__item col-md-3 col-sm-3">
                            <h4 class="footer__heading">thông tin mistore</h4>
                            <a class="footer__text" href="http://mistore.com.vn/gioi-thieu/">Giới thiệu</a>
                            <a class="footer__text" href="http://mistore.com.vn/tin-tuc/ve-mistore/">Tin công ty</a>
                            <a class="footer__text" href="https://goo.gl/AvFa9u">Tuyển dụng</a>
                        </div>
                        <div class="footer__middle__left__item col-md-3 col-sm-3">
                            <h4 class="footer__heading">mua hàng</h4>
                            <a class="footer__text" href="http://mistore.com.vn/huong-dan-mua-hang/">Hướng dẫn mua hàng</a>
                            <a class="footer__text" href="http://mistore.com.vn/huong-dan-mua-hang/">Các hình thức thanh toán</a>
                            <a class="footer__text" href="http://mistore.com.vn/huong-dan-mua-hang/">Tài khoản thanh toán</a>
                        </div>
                        <div class="footer__middle__left__item col-md-3 col-sm-3">
                            <h4 class="footer__heading">chính sách chung</h4>
                            <a class="footer__text" href="http://mistore.com.vn/quy-dinh-bao-hanh/">Quy định bảo hành &amp; đổi trả</a>
                            <a class="footer__text" href="http://mistore.com.vn/#">Chính sách bán hàng</a>
                            <a class="footer__text" href="http://mistore.com.vn/#">Chính sách vận chuyển</a>
                        </div>
                        <div class="footer__middle__left__item col-md-3 col-sm-3">
                            <h4 class="footer__heading">mua trả góp</h4>
                            <a class="footer__text" href="http://mistore.com.vn/#">Thủ tục mua trả góp</a>
                            <a class="footer__text" href="http://mistore.com.vn/#">Quy trình mua trả góp</a>
                            <a class="footer__text" href="http://mistore.com.vn/#">Tải form đăng ký</a>
                        </div>
                    </div>
                </div>
                <div class="footer__middle__right col-md-3">
                    <div class="footet__middle__right__item">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="footer__bottom__item col-md-4 col-sm-4">
                    <h4><span style="color: #ff6600;"><strong>CÔNG TY TNHH MI VIỆT NAM</strong></span></h4>
                    <p><strong>364 Nguyễn Trãi, Thanh Xuân, Hà Nội.</strong><br>
                        Giờ làm việc: 09h – 19h30(Cả Thứ 7 &amp; CN)<br>
                        Nhận bảo hành: 14h – 19h30(Cả Thứ 7 &amp; CN)
                    </p>
                    <ul>
                        <li>Hotline mua hàng: <span style="color: #ff6600;"><strong>&nbsp;</strong><strong>1900 565606 –&nbsp;02485891111</strong></span></li>
                        <li>Hỗ trợ kỹ thuật: <span style="color: #ff6600;"><strong>016.4567.6666</strong></span></li>
                        <li>Liên hệ/kiểm tra bảo hành:&nbsp;<span style="color: #ff6600;"><strong>0904979978</strong></span></li>
                    </ul>
                    <p><span style="color: #ff6600;"><strong>Showroom Quận 5</strong></span></p>
                    <p><strong>197, An Dương Vương, Phường 8, Quận 5</strong><br>
                        Giờ làm việc: 09h – 21h00 (Cả thứ 7 &amp; CN)<br>
                        Nhận bảo hành: 14h – 19h30 (Cả thứ 7 &amp; CN)<br>
                        Hotline: <span style="color: #ff6600;"><strong>(028)3.886.6789</strong></span>
                    </p>
                    <p><a href="http://mistore.com.vn/lien-he/"><strong>Xem bản đồ</strong></a></p>
                </div>
                <div class="footer__bottom__item col-md-4 col-sm-4">
                    <p>&nbsp;</p>
                    <p><span style="color: #ff6600;"><b>Showroom Quận 10, Tp. HCM</b></span></p>
                    <p>Đ/c: 83A, Cửu Long, P.15, Quận 10, Tp.HCM</p>
                    <p>Giờ làm việc: 09h – 21h00 (Cả thứ 7 &amp; CN)<br>
                        Nhận bảo hành: 14h – 19h30 (Cả thứ 7 &amp; CN)
                    </p>
                    <p>Hotline: <span style="color: #ff6600;"><strong>&nbsp;1900565606 – 0914.62.6789&nbsp;</strong></span></p>
                    <p><a href="http://mistore.com.vn/lien-he/"><span style="color: #ff0000;"><strong>Xem bản đồ</strong></span></a></p>
                    <p><span style="color: #ff6600;"><b>Chi nhánh Quận 1, Tp.HCM</b></span></p>
                    <p>Đ/c: 15 Trần Hưng Đạo – Lầu 1, P. Nguyễn Thái Bình, Quận 1.</p>
                    <p>Giờ làm việc: 09h – 1930h (Cả thứ 7 &amp; CN)</p>
                    <p>Hotline: <span style="color: #ff6600;"><strong>0943571999 – 0918214666</strong></span></p>
                    <p>&nbsp;</p>
                </div>
                <div class="footer__bottom__item col-md-4 col-sm-4">
                    <p>&nbsp;</p>
                    <p>Thông tin thanh toán qua ngân hàng: Liên hệ</p>
                    <p>Email: mistore.com.vn@gmail.com</p>
                    <p>Thắc mắc khiếu nại: <span style="color: #ff6600;"><strong>0914696789</strong></span></p>
                    <p><a class="dmca-badge" title="DMCA.com Protection Status" href="http://www.dmca.com/Protection/Status.aspx?ID=4737d259-50f7-4829-a24b-476fdf76a6df"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/dmca_protected_sml_120r.png" alt="DMCA.com Protection Status"></a></p>
                    <p><img class="alignnone size-medium" src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/cua-hang-xiaomi-ld.png" width="20" height="20"></p>
                    <img class="img-responsive" src="{%$smarty.const.SYSTEM_BASE_URL%}public/layout_001/assets/img/20150827110756-dathongbao.png">
                    <div class="footer__bottom__item__social">
                        <a href="http://mistore.com.vn/"></a>
                        <a href="http://mistore.com.vn/"></a>
                        <a href="http://mistore.com.vn/"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom__copyright text-center">
            Copyright © 2017 - Bản quyền thuộc về <span>Công ty TNHH Mi Việt Nam</span> . Designed by <a href="http://pridio.com/">Pridio</a>
        </div>
    </div>
</footer>