<section id="services-box">
    <div class="container">
        <ul class="services-part">
            <li>
                <a href="#">
                    <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="exclusive-icon" alt="" title=""></div>
                    <div class="text-box">Exclusive <span>Collectaion</span></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="shipping-icon" alt="" title=""></div>
                    <div class="text-box">Free Shipping &amp; <span>Easy Return</span></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="cashon-icon" alt="" title=""></div>
                    <div class="text-box">Cash on <span>Delivery Option</span></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="best-price-icon" alt="" title=""></div>
                    <div class="text-box">Best Price <span>Guarantee</span></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="genuine-icon" alt="" title=""></div>
                    <div class="text-box">100% Genuine <span> Products</span></div>
                </a>
            </li>
        </ul>
    </div>
</section>