<form id="frm_setting_header_dialog" method="POST">
	<input type="hidden" name="m_site_header_id" value="{%$m_site_header_id%}"/>
	<div class="form-group row">
        <label class="col-sm-2 form-control-label">Tên Menu</label>
        <div class="col-sm-5">
            <input required name="header_name" type="text" class="form-control" id="" value="{%$header_name%}" placeholder="Nhập Tên Menu">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Chọn Trang</label>
        <div class="col-sm-4">            
            <select name="m_site_page_id" class="form-control selectpicker"  title="Chọn Trang" data-show-subtext="true" data-live-search="true" >
                {%foreach $listPage as $value%}
                <option data-subtext="{%$smarty.const.SYSTEM_BASE_URL%}{%$value['page_link']%}" data-tokens="{%$value['page_name']%} {%$value['page_link']%}" value="{%$value['m_site_page_id']%}" {%if $value['m_site_page_id']== $m_site_page_id %} selected {%/if%}>{%$value['page_name']%}</option>
                {%/foreach%}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Cập Nhật</button>
        </div>
    </div>
</form>