<!DOCTYPE html>
<html>
    {%include 'app/views/common/header.html'%}
    <body style="">
        {%include 'app/views/common/menu.html'%}
        <section id="mpart">
            <div class="container">
                <ul class="breadcrumb">
                    <li> <a href="{%$smarty.const.SYSTEM_BASE_URL%}">Trang Chủ</a> </li>
                    <li class="active">Chi Tiết Sản Phẩm</li>
                </ul>
                <!-- Product Details-->
                <div class="row mt50">
                    <!-- Left Image-->
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <ul class="thumbnails mainimage clearfix ">
                            <li> <img class="my-foto-container" src="{%$smarty.const.SYSTEM_BASE_URL%}{%if isset($productInfo[0]['image_path'])%}{%$productInfo[0]['image_path']%}{%/if%}" data-large="images/product1big.jpg" data-title="Your Product Name" data-help="Your Product Name" title="Your Product Name" style="visibility: visible;"> </li>
                        </ul>
                        <ul class="thumbnails mainimage clearfix row">
	                        {%foreach $productInfoImage as $value%}
	                        <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3">
	                        	<img class="zoom" src="{%$smarty.const.SYSTEM_BASE_URL%}{%$value['image_path']%}" data-large="images/product1big.jpg" data-title="Your Product Name" data-help="Your Product Name" title="Your Product Name">
	                        </li>
	                        {%/foreach%}
                        </ul>
                    </div>
                    <!-- Right Details-->
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 mt40column">
                        <!-- Main Title-->
                        <div class="productbox">
                            <h1 class="headinglefttitle">{%if isset($productInfo[0]['product_name'])%}{%$productInfo[0]['product_name']%}{%/if%}</h1>
                            <h1 class="headinglefttitle">{%if isset($productInfo[0]['product_no'])%}{%$productInfo[0]['product_no']%}{%/if%}</h1>
                            <div class="headingsubtitle">
                            	{%if isset($productInfo[0]['product_info'])%}{%$productInfo[0]['product_info']|unescape: "html" nofilter%}{%/if%}
                            </div>
                            <div class="productprice">
                                <div class="addreview">
                                    <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                    <a href="product.html#"> Add Review </a> 
                                </div>
                                <div class="oldprice">
                                
                                	{%if isset($productInfo[0]['msg_notify'])%}
                                		<span class="save">{%$productInfo[0]['msg_notify']%}</span>
                                	{%/if%}
                                	
                                	{%if isset($productInfo[0]['product_price'])%}
                                		<span class="productpageoldprice"> Giá Gốc : {%$productInfo[0]['product_price']|number_format:0:".":","%}{%$smarty.const.SYSTEM_CURRENCY%}</span>
                                	{%/if%}
                                	
                                </div>
                                <div class="productpageprice">
                                	{%if isset($productInfo[0]['product_price_sale']) && $productInfo[0]['product_price_sale'] != ''%}
                                		{%$productInfo[0]['product_price_sale']|number_format:0:".":","%}
                                	{%else%}
                                		{%$productInfo[0]['product_price']|number_format:0:".":","%}
                                	{%/if%}
                                	{%$smarty.const.SYSTEM_CURRENCY%}
                                </div>
                                <div class="availability in-stock">Tình Trạng: <span>Còn Hàng</span></div>
                                <div class="productbtn">
                                    <button data-toggle="tooltip" class="btn btn-new" data-original-title="Add to Cart"> <i class="fa fa-shopping-cart fa-white"></i> Thêm Vào Giỏ</button>
                                </div>
                            </div>
                        </div>
                        <div class="features">
                            <ul>
                                <li><i class="fa fa-thumbs-up"></i>100% Original Products</li>
                                <li><i class="fa fa-money"></i> Cash on Delivery</li>
                                <li><i class="fa fa-truck"></i> Free Shipping</li>
                                <li><i class="fa fa-mail-reply"></i>30 Days Retrun</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <section id="add-pro-box" class="mt50">
		            <div class="container">
		            	{%foreach $listData as $section%}
		                	{%if $section.type == $smarty.const.SYSTEM_META_SECTION_CATEGORY %}
		                	
		                		{%include 'app/views/widget/product/product_widget.html'%}
		                		
		                	{%else if $section.type == $smarty.const.SYSTEM_META_SECTION_PRODUCT %}
		                	
		                		{%include 'app/views/widget/product/product_widget.html'%}
		                		
		                	{%else if $section.type == $smarty.const.SYSTEM_META_SECTION_FREE %}
		                	
		                		{%include 'app/views/widget/free/free_widget.html'%}
		                		
		                	{%/if%}
		                {%/foreach%}
		            </div>
		        </section>
                <section id="add-pro-box" class="mt50">
                    <h1 class="heading2">Just Added <span>Products</span></h1>
                    <div class="crflexslider carousel">
                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                            <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                <li style="width: 259.5px; float: left; display: block;">
                                    <div class="pro-box">
                                        <div class="img-box">
                                            <div class="green-box"><i class="fa fa-gift"></i><span> Offer</span></div>
                                            <div class="add-btn-box"> <a href="#"><i class="fa fa-shopping-cart"></i> Buy</a> <a href="#"><i class="fa fa-heart"></i> Wishlist</a> <a href="#"><i class="fa fa-signal"></i> Compare</a> </div>
                                            <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb4.jpg" alt="" title="" draggable="false"> 
                                        </div>
                                        <div class="pro-desc">
                                            <div class="pro-name"><a href="#">New Look Mini Skirt</a></div>
                                            <div class="clearfix">
                                                <div class="price"><span class="old-price">$4999</span>$ 3550</div>
                                                <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 259.5px; float: left; display: block;">
                                    <div class="pro-box">
                                        <div class="img-box">
                                            <div class="add-btn-box"> <a href="#"><i class="fa fa-shopping-cart"></i> Buy</a> <a href="#"><i class="fa fa-heart"></i> Wishlist</a> <a href="#"><i class="fa fa-signal"></i> Compare</a> </div>
                                            <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb5.jpg" alt="" title="" draggable="false"> 
                                        </div>
                                        <div class="pro-desc">
                                            <div class="pro-name"><a href="#">New Look Mini Skirt</a></div>
                                            <div class="clearfix">
                                                <div class="price"><span class="old-price">$4999</span>$ 3550</div>
                                                <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 259.5px; float: left; display: block;">
                                    <div class="pro-box">
                                        <div class="img-box">
                                            <div class="add-btn-box"> <a href="#"><i class="fa fa-shopping-cart"></i> Buy</a> <a href="#"><i class="fa fa-heart"></i> Wishlist</a> <a href="#"><i class="fa fa-signal"></i> Compare</a> </div>
                                            <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb6.jpg" alt="" title="" draggable="false"> 
                                        </div>
                                        <div class="pro-desc">
                                            <div class="pro-name"><a href="#">New Look Mini Skirt</a></div>
                                            <div class="clearfix">
                                                <div class="price"><span class="old-price">$4999</span>$ 3550</div>
                                                <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 259.5px; float: left; display: block;">
                                    <div class="pro-box">
                                        <div class="img-box">
                                            <div class="green-box"><i class="fa fa-gift"></i><span> Offer</span></div>
                                            <div class="add-btn-box"> <a href="#"><i class="fa fa-shopping-cart"></i> Buy</a> <a href="#"><i class="fa fa-heart"></i> Wishlist</a> <a href="#"><i class="fa fa-signal"></i> Compare</a> </div>
                                            <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb4.jpg" alt="" title="" draggable="false"> 
                                        </div>
                                        <div class="pro-desc">
                                            <div class="pro-name"><a href="#">New Look Mini Skirt</a></div>
                                            <div class="clearfix">
                                                <div class="price"><span class="old-price">$4999</span>$ 3550</div>
                                                <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 259.5px; float: left; display: block;">
                                    <div class="pro-box">
                                        <div class="img-box">
                                            <div class="add-btn-box"> <a href="#"><i class="fa fa-shopping-cart"></i> Buy</a> <a href="#"><i class="fa fa-heart"></i> Wishlist</a> <a href="#"><i class="fa fa-signal"></i> Compare</a> </div>
                                            <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb6.jpg" alt="" title="" draggable="false"> 
                                        </div>
                                        <div class="pro-desc">
                                            <div class="pro-name"><a href="#">New Look Mini Skirt</a></div>
                                            <div class="clearfix">
                                                <div class="price"><span class="old-price">$4999</span>$ 3550</div>
                                                <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ol class="flex-control-nav flex-control-paging">
                            <li><a class="flex-active">1</a></li>
                            <li><a>2</a></li>
                        </ol>
                        <ul class="flex-direction-nav">
                            <li><a class="flex-prev" href="#">Previous</a></li>
                            <li><a class="flex-next" href="#">Next</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        {%include 'app/views/common/footer.html'%}
    </body>
</html>