<!DOCTYPE html>
<html>
    {%include 'app/views/common/header.html'%}
    <body style="">
    	{%include 'app/views/common/menu.html'%}
        <section id="services-box">
            <div class="container">
                <ul class="services-part">
                    <li>
                        <a href="#">
                            <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="exclusive-icon" alt="" title=""></div>
                            <div class="text-box">Exclusive <span>Collectaion</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="shipping-icon" alt="" title=""></div>
                            <div class="text-box">Free Shipping &amp; <span>Easy Return</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="cashon-icon" alt="" title=""></div>
                            <div class="text-box">Cash on <span>Delivery Option</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="best-price-icon" alt="" title=""></div>
                            <div class="text-box">Best Price <span>Guarantee</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon-box"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="genuine-icon" alt="" title=""></div>
                            <div class="text-box">100% Genuine <span> Products</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section id="banner-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <!--de sau-->
                    </div>
                </div>
            </div>
        </section>
        <section id="add-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="add-banner1 clearfix">
                            <div class="img-box"> <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/strip-new.png" class="strip-img" alt="" title=""> <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb1.jpg" class="pro-img" alt="" title=""> </div>
                            <div class="cpart-box"> <span class="text-row">New Fancy</span> <span class="text-row1">Tshirt</span> <span class="text-row2">Fresh Arrivals</span> <a href="#" class="shop-link"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="larrow-icon" alt="" title="">Shop Now</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="add-banner1 clearfix">
                            <div class="img-box"> <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/strip-exc.png" class="strip-img" alt="" title=""> <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb2.jpg" class="pro-img" alt="" title=""> </div>
                            <div class="cpart-box"> <span class="text-row">Black Border</span> <span class="text-row1">Shoes</span> <span class="text-row2">Starting $ <em>2599</em></span> <a href="#" class="shop-link"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="larrow-icon" alt="" title="">Shop Now</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="add-banner1 clearfix">
                            <div class="img-box"> <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/strip-sale.png" class="strip-img" alt="" title=""> <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb3.jpg" class="pro-img" alt="" title=""> </div>
                            <div class="cpart-box"> <span class="text-row">Black Trandy</span> <span class="text-row1"> Jeans</span> <span class="text-row2">Starting $ <em>2599</em></span> <a href="#" class="shop-link"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="larrow-icon" alt="" title="">Shop Now</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="add-pro-box">
            <div class="container">
            	{%foreach $listCategory as $ctg%}
                <h3><span id="{%$ctg['category_name']%}" class="label label-default">{%$ctg['category_name']%}</span></h3>
                <br/>
                <div class="row">
                	{%foreach $listProduct as $prd%}
                	{%if $ctg.m_category_id = $prd.m_category_id %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="pro-box">
                            <div class="img-box">
                                <div class="green-box"><i class="fa fa-gift"></i><span> Offer</span></div>
                                <div class="add-btn-box">
                                	<a href="#"><i class="fa fa-shopping-cart"></i>Đặt Mua</a>
                                </div>
                                <a href="detail/{%$prd['m_product_id']%}/{%$prd['product_link']%}">
                                	<img style="width: 320px;height: 350px;" src="{%$prd['image_path']%}" alt="" title="" draggable="false"/>
                                </a>
                                   
                            </div>
                            <div class="pro-desc">
		                                <div class="pro-name"><a href="detail/{%$prd['m_product_id']%}/{%$prd['product_link']%}">{%$prd['product_name']%}</a></div>
		                                <div class="clearfix">
		                                    <div class="price"><span class="old-price">$4999</span>{%$prd['product_price']|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</div>
		                                    <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
	                                </div>
	                            </div> 
                        </div>
                    </div>
                    {%/if%}
                    {%/foreach%}
                </div>
                {%/foreach%}
                
                <h1 class="heading2">Just Added <span>Products</span></h1>
                <div class="crflexslider carousel">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                            <li>
                                <div class="pro-box">
                                    <div class="img-box">
                                        <div class="green-box"><i class="fa fa-gift"></i><span> Offer</span></div>
                                        <div class="add-btn-box"> <a href="#"><i class="fa fa-shopping-cart"></i> Buy</a> <a href="#"><i class="fa fa-heart"></i> Wishlist</a> <a href="#"><i class="fa fa-signal"></i> Compare</a> </div>
                                        <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/pro-thumb4.jpg" alt="" title="" draggable="false"> 
                                    </div>
                                    <div class="pro-desc">
                                        <div class="pro-name"><a href="#">New Look Mini Skirt</a></div>
                                        <div class="clearfix">
                                            <div class="price"><span class="old-price">$4999</span>$ 3550</div>
                                            <div class="ratingstar pull-right"> <i class="fa fa-star green"> </i><i class="fa fa-star green"> </i><i class="fa fa-star-half-full green"> </i> <i class="fa fa-star-half-full green"></i> <i class="fa fa-star-o green"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ol class="flex-control-nav flex-control-paging">
                        <li><a class="flex-active">1</a></li>
                        <li><a>2</a></li>
                    </ol>
                    <ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="#">Previous</a></li>
                        <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="add-big-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 text-left"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/banner-580.jpg" class="img-responsive" alt="" title=""></div>
                    <div class="col-md-6 col-xs-12 text-right"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/banner1-580.jpg" class="img-responsive" alt="" title=""></div>
                </div>
            </div>
        </section>
        <section id="mpart">
            <div class="container">
                <h1 class="heading2 brand-title">Top <span>Brands</span></h1>
                <div class="brandflexsliderfull carousel">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(-468.8px, 0px, 0px);">
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand1.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand2.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand3.jpg" alt="" title="" draggable="false"> </li>
                            <li ><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand4.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand1.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand2.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand3.jpg" alt="" title="" draggable="false"> </li>
                        </ul>
                    </div>
                    <ol class="flex-control-nav flex-control-paging">
                        <li><a class="">1</a></li>
                        <li><a class="flex-active">2</a></li>
                    </ol>
                    <ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="#">Previous</a></li>
                        <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </section>
        {%include 'app/views/common/footer.html'%}
    </body>
</html>