<!DOCTYPE html>
<html>
    {%include 'app/views/common/header.html'%}
    <body style="">
    
    	<!--################################################################-->
    	{%include 'app/views/common/menu.html'%}
        
        <!--################################################################-->
        {%include 'app/views/widget/slider/slider_widget.html' %}
        
        <!--################################################################-->
    	{%include 'app/views/widget/information/icon_widget.html' %}
        
        <!--################################################################-->
        <section id="add-banner">
            <div class="container">
                <div class="row">
                {%foreach $listData as $section%}
            	
                	{%if $section.type == $smarty.const.SYSTEM_META_SECTION_IMAGE %}
                	
                		{%include 'app/views/widget/image_section/image_widget.html' %}
                		
                	{%/if%}
                	
                {%/foreach%}
                    
                </div>
            </div>
        </section>
        
        <!--################################################################-->
        <section id="add-pro-box">
            <div class="container">
            	{%foreach $listData as $section%}
            	
                	{%if $section.type == $smarty.const.SYSTEM_META_SECTION_CATEGORY %}
                	
                		{%include 'app/views/widget/category/category_widget.html'%}
                		
                	{%else if $section.type == $smarty.const.SYSTEM_META_SECTION_PRODUCT %}
                	
                		{%include 'app/views/widget/product/product_widget.html'%}
                		
                	{%else if $section.type == $smarty.const.SYSTEM_META_SECTION_FREE %}
                	
                		{%include 'app/views/widget/free/free_widget.html'%}
                		
                	{%/if%}
                	
                {%/foreach%}
            </div>
        </section>
        
        <!--################################################################-->
        <!--<section id="add-big-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 text-left"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/banner-580.jpg" class="img-responsive" alt="" title=""></div>
                    <div class="col-md-6 col-xs-12 text-right"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/banner1-580.jpg" class="img-responsive" alt="" title=""></div>
                </div>
            </div>
        </section>-->
        
        <!--################################################################-->
        <!--<section id="mpart">
            <div class="container">
                <h1 class="heading2 brand-title">Top <span>Brands</span></h1>
                <div class="brandflexsliderfull carousel">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(-468.8px, 0px, 0px);">
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand1.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand2.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand3.jpg" alt="" title="" draggable="false"> </li>
                            <li ><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand4.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand1.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand2.jpg" alt="" title="" draggable="false"> </li>
                            <li > <img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/brand3.jpg" alt="" title="" draggable="false"> </li>
                        </ul>
                    </div>
                    <ol class="flex-control-nav flex-control-paging">
                        <li><a class="">1</a></li>
                        <li><a class="flex-active">2</a></li>
                    </ol>
                    <ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="#">Previous</a></li>
                        <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </section>-->
        
        <!--################################################################-->
        {%include 'app/views/common/footer.html'%}
        
    </body>
</html>