<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản Lý Sản Phẩm</title>
        <link rel="stylesheet" href="public/css/bootstrap.css">
        <script src="public/js/jquery-1.10.2.js"></script>
        <script src="public/js/bootstrap.js"></script>
        <style>
            .thumbnail {
            height: 50px;
            margin-bottom:auto;
            }
            .thumbnail_grid {
            height: 120px !important;
            }
            .thumbnail_item{
            float: left;
            height:100%;
            margin-right: 5px;
            margin-bottom: 5px;
            }
            #img_review{
            float: left;
            }
            .thumbnail_item:focus {
            outline: 2px solid blue;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <br>
            <div class="panel panel-default">
            	<div data-toggle="collapse" href="#infomation_form" class="panel-heading">
            		Thông Tin Chung
            	</div>
            	<div id="infomation_form" class="panel-body collapse">
            		<form action="" enctype="multipart/form-data" method="POST">
            			<div class="form-group row">
                            <label for="ctg1" class="col-sm-2 form-control-label">Tên Website</label>
                            <div class="col-sm-5">
                                <input required name="site_name" type="text" class="form-control" id="" value="{%$listDefine[0].site_name%}" placeholder="Nhập Tên Website">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ctg1" class="col-sm-2 form-control-label">Số Điện Thoại</label>
                            <div class="col-sm-5">
                                <input required name="phone" type="text" class="form-control" id="" value="{%$listDefine[0].phone%}" placeholder="Nhập Số Điện Thoại">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ctg1" class="col-sm-2 form-control-label">Logo</label>
                            <div class="col-sm-5">
                            	<img class="thumbnail thumbnail_grid" src="{%$smarty.const.SYSTEM_BASE_URL%}{%$listDefine[0].path_logo%}">
                                <input id="select_logo_site" class="form-control-file" name="upload_logo_site" type="file" accept="image/*" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" formaction="main/define/add" class="btn btn-primary">Cập Nhật</button>
                            </div>
                        </div>
            		</form>
            	</div>
            </div>
            <div class="panel panel-default">
                <div data-toggle="collapse" href="#category_form" class="panel-heading">
                	Cập Nhật Danh Mục
                </div>
                <div id="category_form" class="panel-body collapse">
                    <form action="" method="POST">
                        <div class="form-group row">
                            <label for="ctg1" class="col-sm-2 form-control-label">Danh Mục</label>
                            <div class="col-sm-5">
                                <input required name="category_name" type="text" class="form-control" id="ctg1" placeholder="Nhập Danh Mục">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" formaction="main/category/add" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </form>
                    <form action="" method="POST">
                        <div class="table-responsive">
	                        <table class="table table-bordered">
	                            <thead>
	                                <tr>
	                                    <th>#</th>
	                                    <th>Danh Mục</th>
	                                    <th>Thao Tác</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                {%foreach $listCategory as $value%}
	                                <tr>
	                                    <th scope="row">{%$value@iteration%}</th>
	                                    <td id="grid_category_name_{%$value['m_category_id']%}">{%$value['category_name']%}</td>
	                                    <td>
	                                        <button class="btn btn-primary" value="{%$value['m_category_id']%}" type="button" data-toggle="modal" data-target="#editModel">Sửa</button>
	                                        <button formaction="main/category/delete" name="m_category_id" value="{%$value['m_category_id']%}" type="submit" class="btn btn-danger">Xóa</button>
	                                    </td>
	                                </tr>
	                                {%/foreach%}
	                            </tbody>
	                        </table>
                        </div>
                    </form>
                    <form action="" method="POST">
                        <!-- Modal Update Category-->
                        <div id="editModel" class="modal" role="dialog" data-backdrop="static">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Cập Nhật Danh Mục</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="m_category_id" value=""/>
                                        <div class="form-group row">
                                            <label for="ctg1" class="col-sm-2 form-control-label">Danh Mục</label>
                                            <div class="col-sm-5">
                                                <input required name="category_name" type="text" class="form-control" id="ctg1" placeholder="Nhập Danh Mục">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="submit" formaction="main/category/update" class="btn btn-primary">Cập Nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>	
                </div>
            </div>
            <div class="panel panel-default">
                <div data-toggle="collapse" href="#product_form" class="panel-heading">
                	Cập Nhật Sản Phẩm
                </div>
                <div id="product_form" class="panel-body collapse in">
                    <form action="" enctype="multipart/form-data" method="POST">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Chọn Danh Mục</label>
                            <div class="col-sm-5">
                                <select required class="form-control" name="m_category_id">
                                    <option value=""></option>
                                    {%foreach $listCategory as $value%}
                                    <option value="{%$value['m_category_id']%}">{%$value['category_name']%}</option>
                                    {%/foreach%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nhập Tên Sản Phẩm</label>
                            <div class="col-sm-5">
                                <input required name="product_name" type="text" class="form-control" placeholder="Nhập Tên Sản Phẩm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nhập Mã Sản Phẩm</label>
                            <div class="col-sm-5">
                                <input required name="product_no" type="text" class="form-control" placeholder="Nhập Mã Sản Phẩm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nhập Giá</label>
                            <div class="col-sm-2">
                                <input required name="product_price" type="text" class="form-control" placeholder="Nhập Giá">
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    	Giá Sale
                                    </span>
                                    <input type="text" name="product_price_sale" class="form-control" placeholder="Nhập Giá">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nhãn Thông Tin</label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon middle">
	                                    <input type="checkbox" id="flg_notify_123" name="flg_notify" value="1">
	                                    <span style="padding: 5px;">Hiển Thị</span>
                                    </span>
                                    <input type="text" name="msg_notify" class="form-control" placeholder="Nhập Thông Báo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nhập Thông Tin</label>
                            <div class="col-sm-5">
                                <!--<input required name="product_info" type="text" class="form-control" placeholder="Nhập Thông Tin">-->
                                <textarea name="product_info" class="form-control" rows="8" required>{%$smarty.const.SYSTEM_PRODUCT_INFO_DEFAULT%}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nhập Link Hiển Thị</label>
                            <div class="col-sm-5">
                                <input required name="product_link" type="text" class="form-control" placeholder="Nhập Link Hiển Thị">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Chọn Ảnh</label>
                            <div class="col-sm-5">
                                <input id="select_image" class="form-control-file" name="upload[]" type="file" multiple accept="image/*" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Xem Trước</label>
                            <input type="hidden" id="image_default" name="image_default" value="0"/>
                            <div id="img_review" class="col-sm-5">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" formaction="main/product/add" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </form>
                    <form method="post">
	                    <div class="table-responsive">
	                        <table class="table table-bordered table-striped">
	                            <thead>
	                                <tr>
	                                    <th>#</th>
	                                    <th>Danh Mục</th>
	                                    <th>Tên Sản Phẩm</th>
	                                    <th>Mã Sản Phẩm</th>
	                                    <th>Giá</th>
	                                    <th>Giá Sale</th>
	                                    <th>Nhãn Thông Tin</th>
	                                    <th>Thông Tin</th>
	                                    <th>Hình Ảnh</th>
	                                    <th>Link Hiển Thị</th>
	                                    <th>Thao Tác</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                {%foreach $listProduct as $value%}
	                                <tr>
	                                    <td scope="row">{%$value@iteration%}</td>
	                                    <td id="grid_category_name_{%$value['m_product_id']%}" >{%$value['category_name']%}</td>
	                                    <input id="grid_category_id_{%$value['m_product_id']%}" type="hidden" value="{%$value['m_category_id']%}"/>
	                                    <td id="grid_product_name_{%$value['m_product_id']%}" >{%$value['product_name']%}</td>
	                                    <td id="grid_product_no_{%$value['m_product_id']%}" >{%$value['product_no']%}</td>
	                                    <td>{%$value['product_price']|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</td>
	                                    <input id="grid_product_price_{%$value['m_product_id']%}" type="hidden" value="{%$value['product_price']%}"/>
	                                    <td>{%$value['product_price_sale']|number_format:0:".":","%} {%$smarty.const.SYSTEM_CURRENCY%}</td>
	                                    <input id="grid_product_price_sale_{%$value['m_product_id']%}" type="hidden" value="{%$value['product_price_sale']%}"/>
	                                    <td>
		                                    <input class="checkbox" type="checkbox" disabled="disabled" value="1" id="grid_flg_notify_{%$value['m_product_id']%}" {%if $value['flg_notify'] == 1%}checked="checked"{%/if%}/>
		                                    <span id="grid_msg_notify_{%$value['m_product_id']%}">{%$value['msg_notify']%}</span>
	                                    </td>
	                                    <td id="grid_product_info_{%$value['m_product_id']%}" >{%$value['product_info']|nl2br nofilter%}</td>
	                                    <td id=""><img class="thumbnail thumbnail_grid" src="{%$value['image_path']%}"></td>
	                                    <td id="grid_product_link_{%$value['m_product_id']%}" >{%$value['product_link']%}</td>
	                                    <td>
	                                        <a class="btn btn-success" target="_blank" href="{%$smarty.const.SYSTEM_BASE_URL%}detail/{%$value['m_product_id']%}/{%$value['product_link']%}">Xem</a>
	                                        <button class="btn btn-primary" value="{%$value['m_product_id']%}"  type="button" data-toggle="modal" data-target="#editProductModel">Sửa</button>
	                                        <button formaction="main/product/delete" name="m_product_id" value="{%$value['m_product_id']%}" type="submit" class="btn btn-danger">Xóa</button>
	                                    </td>
	                                </tr>
	                                {%/foreach%}
	                            </tbody>
	                        </table>
	                    </div>
                    </form>
                    <form id="abc" action="" enctype="multipart/form-data" method="POST">
                        <!-- Modal Update Product-->
                        <div id="editProductModel" class="modal" role="dialog" data-backdrop="static">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Cập Nhật Sản Phẩm</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="m_product_id" value=""/>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Chọn Danh Mục</label>
                                            <div class="col-sm-8">
                                                <select required class="form-control" name="m_category_id">
                                                    <option value=""></option>
                                                    {%foreach $listCategory as $value%}
                                                    <option value="{%$value['m_category_id']%}">{%$value['category_name']%}</option>
                                                    {%/foreach%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Nhập Tên Sản Phẩm</label>
                                            <div class="col-sm-8">
                                                <input required name="product_name" type="text" class="form-control" placeholder="Nhập Tên Sản Phẩm">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Nhập Mã Sản Phẩm</label>
                                            <div class="col-sm-8">
                                                <input required name="product_no" type="text" class="form-control" placeholder="Nhập Mã Sản Phẩm">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Nhập Giá</label>
                                            <div class="col-sm-3">
                                                <input required name="product_price" type="text" class="form-control" placeholder="Nhập Giá">
                                            </div>
                                            <div class="col-sm-5">
				                                <div class="input-group">
				                                    <span class="input-group-addon">
				                                    	Giá Sale
				                                    </span>
				                                    <input type="text" name="product_price_sale" class="form-control" placeholder="Nhập Giá">
				                                </div>
				                            </div>
                                        </div>
                                        <div class="form-group row">
				                            <label class="col-sm-4 form-control-label">Nhãn Thông Tin</label>
				                            <div class="col-sm-8">
				                                <div class="input-group">
				                                    <span class="input-group-addon middle">
					                                    <input type="checkbox" name="flg_notify" value="1">
					                                    <span style="padding: 5px;">Hiển Thị</span>
				                                    </span>
				                                    <input type="text" name="msg_notify" class="form-control" placeholder="Nhập Thông Báo">
				                                </div>
				                            </div>
				                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Nhập Thông Tin</label>
                                            <div class="col-sm-8">
                                                <!--<input required name="product_info" type="text" class="form-control" placeholder="Nhập Thông Tin">-->
                                                <textarea name="product_info" class="form-control" rows="8" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Nhập Link Hiển Thị</label>
                                            <div class="col-sm-8">
                                                <input required name="product_link" type="text" class="form-control" placeholder="Nhập Link Hiển Thị">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Chọn Ảnh</label>
                                            <div class="col-sm-8">
                                                <input id="select_image_popup" class="form-control-file" name="upload[]" type="file" multiple accept="image/*" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Xem Trước</label>
                                            <input type="hidden" id="image_default_popup" name="image_default" value="0"/>
                                            <div id="img_review_popup" class="col-sm-8">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-8">
                                                <button type="submit" formaction="main/product/update" class="btn btn-primary">Cập Nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    {%$javascript_src|unescape: "html" nofilter%} 
</script>