<footer id="footer">
    <div class="copyright">
        <div class="container clearfix">
            <div class="pull-left copy-text">Copyright 2018</div>
            <ul class="pull-right payment-box">
                <li><a href="#"><img src="public/build1/images/blank-img.png" class="pay1-icon" alt="" title=""></a></li>
                <li><a href="#"><img src="public/build1/images/blank-img.png" class="pay2-icon" alt="" title=""></a></li>
                <li><a href="#"><img src="public/build1/images/blank-img.png" class="pay3-icon" alt="" title=""></a></li>
                <li><a href="#"><img src="public/build1/images/blank-img.png" class="pay4-icon" alt="" title=""></a></li>
                <li><a href="#"><img src="public/build1/images/blank-img.png" class="pay5-icon" alt="" title=""></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Got to top --> 
<a id="gotop" style="display: block;"><i class="fa fa-arrow-circle-up"></i>
</a>
<!-- Bootstrap JS--> 
<script type="text/javascript" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/js/bootstrap.min.js"></script> 
<!-- All Carousal--> 
<script type="text/javascript" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/js/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/js/jquery.easing.min.js"></script> 
<script type="text/javascript" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/js/jquery.touchSwipe.min.js"></script>  
<script type="text/javascript" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/js/custom.js"></script>

<div class="fixed-phone-button">
    <a href="tel:{%$listDefine[0].phone%}">
        <svg class="svg-next-icon svg-phone-icon-bottom">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone-header">
                <svg id="icon-phone-header" width="100%" height="100%">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.213 485.212">
                        <g>
                            <path d="M242.607,0C108.629,0,0.001,108.628,0.001,242.606c0,133.976,108.628,242.606,242.606,242.606   c133.978,0,242.604-108.631,242.604-242.606C485.212,108.628,376.585,0,242.607,0z M370.719,353.989l-19.425,19.429   c-3.468,3.463-13.623,5.624-13.949,5.624c-61.452,0.536-120.621-23.602-164.095-67.08c-43.593-43.618-67.759-102.998-67.11-164.657   c0-0.028,2.224-9.892,5.689-13.324l19.424-19.427c7.108-7.141,20.762-10.368,30.327-7.168l4.086,1.363   c9.537,3.197,19.55,13.742,22.185,23.457l9.771,35.862c2.635,9.743-0.919,23.604-8.025,30.712l-12.97,12.972   c12.734,47.142,49.723,84.138,96.873,96.903l12.965-12.975c7.141-7.141,20.997-10.692,30.719-8.061l35.857,9.806   c9.717,2.67,20.26,12.62,23.456,22.154l1.363,4.145C381.028,333.262,377.826,346.913,370.719,353.989z"></path>
                        </g>
                    </svg>
                </svg>
            </use>
        </svg>
    </a>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1516447471927190',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "<?php echo SYSTEM_BASE_URL;?>public/js/fbsdk.js";//https://connect.facebook.net/vi_VN/sdk.js
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-customerchat col-sm-12" page_id="1042724125855991"></div>