<section class="cid-qE4lLOMQ71" id="footer1-o" data-rv-view="704">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://mobirise.com/">
                    <img src="<?php echo SYSTEM_BASE_URL;?>public/assets/images/logo218.png" alt="Mobirise" media-simple="true">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">Địa Chỉ</h5>
                <p class="mbr-text">364 Bùi Hữu Nghĩa<br>Phường 2 , Quận Bình Thạnh<br>TP.HCM</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">Liên Hệ</h5>
                <p class="mbr-text">Facebook:&nbsp;<br>Phone: <?php echo SYSTEM_PHONE; ?><br>Zalo : <?php echo SYSTEM_PHONE; ?></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">Đối Tác</h5>
                <p class="mbr-text">Google.com<br>Facebook.com<br><a class="text-white" href="https://mobirise.com/mobirise-free-mac.zip">Z</a>alo.com</p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">© Copyright 2017 - MintyShop</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" media-simple="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="<?php echo SYSTEM_BASE_URL;?>public/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/popper/popper.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/tether/tether.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/dropdown/js/script.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/parallax/jarallax.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/masonry/masonry.pkgd.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/theme/js/script.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/gallery/player.min.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/gallery/script.js"></script>
  <script src="<?php echo SYSTEM_BASE_URL;?>public/assets/slidervideo/script.js"></script>

<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
<input name="animation" type="hidden">
<div class="fixed-phone-button">
    <a href="tel:<?php echo SYSTEM_PHONE; ?>">
        <svg class="svg-next-icon svg-phone-icon-bottom">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone-header">
                <svg id="icon-phone-header" width="100%" height="100%">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.213 485.212">
                        <g>
                            <path d="M242.607,0C108.629,0,0.001,108.628,0.001,242.606c0,133.976,108.628,242.606,242.606,242.606   c133.978,0,242.604-108.631,242.604-242.606C485.212,108.628,376.585,0,242.607,0z M370.719,353.989l-19.425,19.429   c-3.468,3.463-13.623,5.624-13.949,5.624c-61.452,0.536-120.621-23.602-164.095-67.08c-43.593-43.618-67.759-102.998-67.11-164.657   c0-0.028,2.224-9.892,5.689-13.324l19.424-19.427c7.108-7.141,20.762-10.368,30.327-7.168l4.086,1.363   c9.537,3.197,19.55,13.742,22.185,23.457l9.771,35.862c2.635,9.743-0.919,23.604-8.025,30.712l-12.97,12.972   c12.734,47.142,49.723,84.138,96.873,96.903l12.965-12.975c7.141-7.141,20.997-10.692,30.719-8.061l35.857,9.806   c9.717,2.67,20.26,12.62,23.456,22.154l1.363,4.145C381.028,333.262,377.826,346.913,370.719,353.989z"></path>
                        </g>
                    </svg>
                </svg>
            </use>
        </svg>
    </a>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1516447471927190',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "<?php echo SYSTEM_BASE_URL;?>public/js/fbsdk.js";//https://connect.facebook.net/vi_VN/sdk.js
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-customerchat col-sm-12" page_id="1042724125855991"></div>