<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{%$smarty.const.SYSTEM_BASE_URL%}{%$listDefine[0].path_logo%}" type="image/x-icon">
	<title>{%$listDefine[0].site_name%}</title>
	<meta name="description" content="{%$listDefine[0].site_name%}, đồng hồ cá tính, chuyên sỉ lẻ đồng hồ, đồng hồ thái lan, đồng hồ đẹp, đồng hồ rẻ">
	<meta name="robots" content="noodp">
	<link rel="canonical" href="http://mintywatch.shop/">
	<meta property="og:locale" content="vi_VN">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{%$listDefine[0].site_name%} | Chuyên Đồng Hồ Nhập Giá Tốt">
	<meta property="og:description" content="{%$listDefine[0].site_name%}, đồng hồ cá tính, chuyên sỉ lẻ đồng hồ, đồng hồ thái lan, đồng hồ đẹp, đồng hồ rẻ">
	<meta property="og:url" content="http://mintywatch.shop/">
	<meta property="og:site_name" content="{%$listDefine[0].site_name%} | Chuyên Đồng Hồ Nhập Giá Tốt">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,300italic,600italic,400,800,700,600,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/css/style.css">
	<script type="text/javascript" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/js/jquery-1.10.2.js"></script>
	{%include 'app/views/common/system.html'%}
</head>