<header>
    <section id="hpart1">
        <div class="container">
            <div class="logo pull-left"><a href="index.html"><img src="{%$smarty.const.SYSTEM_BASE_URL%}{%$listDefine[0].path_logo%}" alt="" title=""></a></div>
            <div class="my-cart pull-right">
                <div class="cart-heading">
                    <div class="pull-left"> <span class="mctext">Giỏ Hàng</span>2 Sản Phẩm</div>
                    <div class="icon-box pull-right"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="cart-icon" title="" alt=""></div>
                </div>
                <div class="cart-content">
                    <div class="mini-cart-info">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="image"><a href="#"><img title="" alt="" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/thumbh47-2.jpg"></a></td>
                                    <td class="name"><a href="#">Brown Pumps</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$1,177.00</td>
                                    <td class="remove"><img title="" alt="" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/remove-small.png"></td>
                                </tr>
                                <tr>
                                    <td class="image"><a href="#"><img title="" alt="" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/thumbh47-2.jpg"></a></td>
                                    <td class="name"><a href="#">Brown Pumps</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$1,177.00</td>
                                    <td class="remove"><img title="" alt="" src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/remove-small.png"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mini-cart-total">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="right"><b>Sub-Total:</b></td>
                                    <td class="right">$1,100.00</td>
                                </tr>
                                <tr>
                                    <td class="right"><b>Eco Tax (-2.00):</b></td>
                                    <td class="right">$4.00</td>
                                </tr>
                                <tr>
                                    <td class="right"><b>VAT (17.5%):</b></td>
                                    <td class="right">$192.50</td>
                                </tr>
                                <tr>
                                    <td class="right"><b>Total:</b></td>
                                    <td class="right">$1,296.50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="checkout"> <a class="view-button" href="#">Xem Giỏ Hàng</a><a class="checkout-button ml10" href="#">Thanh Toán</a></div>
                </div>
            </div>
            <div class="search-box pull-right">
                <form class="form-inline" role="form">
                    <div class="input-group selcat">
                        <div class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle" type="button">Chọn Danh Mục<span class="caret"></span></button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Select Category</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group --> 
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Từ Khóa">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-new">Tìm Kiếm</button>
                </form>
            </div>
        </div>
    </section>
    <nav id="navbar">
        <!--<div class="navbar yamm navbar-default navbar-fixed-top">-->
        <div class="navbar yamm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-collapse-1" data-toggle="collapse" type="button">
                	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%$smarty.const.SYSTEM_BASE_URL%}">Trang Chủ</a> 
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse mainnavigation">
                <div class="container">
                    <ul class="nav navbar-nav mainnav">
                        {%foreach $listPage as $value%}
                        <li class="">
                            <a class="dropdown-toggle"href="{%$smarty.const.SYSTEM_BASE_URL%}{%$value['page_link']%}">{%$value['page_name']%}</a>
                        </li>
                        {%/foreach%}
                    </ul>
                    <div class="new-arv pull-right"><a href="#"><img src="{%$smarty.const.SYSTEM_BASE_URL%}public/build1/images/blank-img.png" class="arrival-icon" alt="" title="">New arrivals</a></div>
                </div>
            </div>
        </div>
    </nav>
</header>